body {
  background-color: rgba(18, 18, 18, 0.797);
  color: white;
  margin: 0 auto;
  width: 75%;
}

.city {
  text-align: center;
}
.weather_icon {
  display: block;
  margin: 0 auto;
  width: 80%;
}

#temperature {
  font-size: 54px;
}
#celcius-link,
#fahrenheit-link {
  font-size: 20px;
  text-decoration: none;
  cursor: default;
}
small a {
  text-decoration: none;
}

.units .active {
  color: white;
}

.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
  margin-left: 5px;
}
