body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
  margin: 40px auto 20px;
  width: 50%;
  height: 100vh;
}

.city {
  text-align: center;
}
.weather_icon {
  display: block;
  margin: 0 auto;
  width: 80%;
}

#temperature {
  font-size: 35px;
}
#celcius-link,
#fahrenheit-link {
  font-size: px;
  text-decoration: none;
  cursor: default;
}
small a {
  text-decoration: none;
}

.units .active {
  color: white;
}

.current_btn {
  color: white;
  background: rgba(47, 46, 46, 0.797);
}

.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
  margin-left: 5px;
}
a:visited {
  color: rgba(28, 28, 28, 0.797);
}
